body {
	font-family: 'Orbitron', sans-serif;
}

@media (max-width: 500px) {
	#buttons {
		display: flex;
		flex-wrap: wrap;
	}

}

#outPut {
	outline: 1px solid black;
	text-align: right;
    width: 17.5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    box-shadow: inset 0.2em 0.2em 0.2em #888;
    font-size: 2em;
    padding-top: 0.3em;
    background-color: black;
    color: springgreen;
}

table {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.btn {
	width: 10em;
}

#id td {
	width: 20em;
}

button {
	box-shadow: 0.5em 0.5em 0.5em #888888;
	background-color: tan;
    color: white;
}

tr {
	width: 100%;
}

#logo {
	text-align: center;
}

.calculator {
	background-color: cornsilk;
    border: 3px black solid;
    border-radius: 5%;
    margin-top: 50px;
    width: 40em;
    margin-left: auto;
    margin-right: auto;
}